.Market {
  width:100%;
  height:100%;
  overflow: hidden;
  position: absolute;
  align-self: center;

  display: flex;
  justify-content: center;

  background-color: #057254;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
